@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --DarkGray: hsl(0, 0%, 55%);
    --VeryDarkGray: hsl(0, 0%, 41%);

    --font1: "Alata", sans-serif;
    --font2: "Josefin Sans", sans-serif;
}

/**Mobile first**/

#menudesktop{
    display: none;
}

#listlink{
    list-style: none;
}
